
.MuiDataGrid-panel .MuiInputLabel-root {
    color: #4f3c90;
  }
  
  .MuiDataGrid-panel .MuiInputBase-root {
    color: #4f3c90;
  }
  
  .MuiDataGrid-panel .MuiInput-underline:before {
    border-bottom: 1px solid #4f3c90;
  }
  .MuiDataGrid-panel .MuiInput-underline:after {
    border-bottom: 2px solid #4f3c90;
  }
  

  .MuiDataGrid-panel .MuiSwitch-switchBase.Mui-checked {
    color: #4f3c90;
  }
  .MuiDataGrid-panel .MuiSwitch-switchBase.Mui-checked + .MuiSwitch-track {
    background-color: #b89de9;
  }
  
  .MuiDataGrid-panel .MuiButtonBase-root {
    color: #4f3c90;
  }
  
  